* @musitdev @ganymedio @0xicarus @Primata

# Core infrastructure owners
/api/ @areshand
/aptos-node/ @areshand
/consensus/ @areshand
/execution/ @areshand
/keyless/ @areshand
/mempool/ @areshand
/network/ @areshand
/storage/ @areshand
/types/src/keyless/ @areshand
/aptos-move/ @seanyoung @0xicarus @fEst1ck
/third_party/move @seanyoung @0xicarus @fEst1ck
